snippet template
	<template>
		${1}
	</template>
	<script>
	export default {
		${2}
	}
	</script>

snippet cl
	console.log(${1});

snippet ce
	console.error(${1});

snippet {
	{ 
		${1}
	}${2}


snippet (
	(${1})${2}

