snippet obs
ATCD : $1

TTT : $2

HDM : 
$3

EC : 
${4:BDC réguliers non soufflants}
${5:Auscultation pulmonaire libre et symétrique}
${6:Abdomen souple indolore}
${7:Neuro : RAS}
${8:ORL : Pas d'otite, pas d'angine}
endsnippet
