snippet template
<template>
${1}
</template>
<script>
export default {
	${2}
}
</script>
endsnippet


snippet tg
<$1>${0:${VISUAL}}</$1>
endsnippet



snippet cl
console.log(${1});
endsnippet


snippet ce
console.error(${1});
endsnippet

snippet {
{ 
	${0}
}${2:,}
endsnippet


snippet (
(${1})${2}
endsnippet

